/*<meta />*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

/*Created by Justin Bondoc 
Styling listed by individual Elements then Layouts */
body
{
	font-family: 'Roboto', sans-serif;
	line-height: 1.5em;
	margin: 0;
	color: #575757;
}

h1
{
	font-family:  'Roboto', sans-serif;
	font-size: 2.75em;
	color: #f83600;
	font-weight: 100;
	line-height: 1;
}

.project-btn {
    display: none;
}

h2
{
	font-size: 1.6785em;
	font-weight: 100;
}

h3
{
	font-weight: 100;
}

.bold
{
	font-weight: bold;
}
.center
{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	float: none !important;
	text-align: center;
}

:target:before { 
content:"";
display:block;
height:150px; 
margin:-150px 0 0; 
}


p
{
	color: #575757;
	margin-bottom: 8px;
	margin-top: 8px;
}

p.info-title
{
	font-weight: bold;
	color: #000;
	margin-top: 40px;
}
img
{
	max-width: 100%;
}

img.fifty

{
	max-width: 50%;
}

img.project
{
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

img.project:hover
{
	 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/*==Buttons==*/

a:visited
{
	color: #000;
}

a:link
{
	color: #000;
}

a.btn
{
	display: inline-block;
	text-decoration: none;
	color: #f83600;
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
	border: 1px solid #f83600;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 11.5px;
	padding-right: 11.5px;
	font-weight: 100;
	
}

a.btn:hover
{
	color: #fff;
	background-color: #f83600;
	letter-spacing: 1px;
}



/*==Layout==*/

.top-bar
{
	transition: 0.5s all;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
	color: #fff;
}

.navScroll
{
	background-color: #fff;
	border-bottom: 1px solid #d3d3d3;
}


.top-bar a
{
	color: #fff; 
	padding: 10px;
	margin: 0 2px;
	display: inline-block;
	text-decoration: none;
}

.top-bar a:hover
{
	color: #575757;
}

.navScroll a
{
	color: #575757;
	text-decoration: none;
}

.top-bar ul {
    background-color: transparent;
    padding: 10px 0;
    margin: 0 auto;
}

.top-bar li {
	transition: all 1s cubic-bezier(.25,.8,.25,1);
	display: inline-block;
}

.top-bar ul li:hover{
	background-color: #eaeaea;
    border-radius: 4px;
    color: #575757;
}

.section
{
	padding: 2% 0 5%;

}

.layout
{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	transition: all 1s cubic-bezier(.25,.8,.25,1);
}

/*==Page Hero Start==*/

div.page-hero
{
	padding-bottom: 150px;
	padding-top: 250px;
	background: linear-gradient(to bottom right, #f38c00, #f83600);
	padding: 20% 20%;
}

.page-hero h1
{
	color: #fff;
	font-weight: 100;
	font-size: 3em;
}

.accent /*Gradient used under the Home-Page hero*/
{
	background: linear-gradient(to right, #dadada, #fafafa);
    height: 4px;
}

/*==About Start==*/

div.about
{
	background-color: #fff;
}

div.about-grid	
{

}

div.about-grid::before
{
	content: ' ';
	display: table;
}

div.about-grid::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.about-grid > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.about-grid > div:nth-child(1)
{
	width: 65%;
	margin-right: 5%;
}

div.about-grid > div:nth-child(2)
{
	width: 25%;
	margin-left: 5%;
}


/*==Project Start==*/

div.project
{
	background-color: #fafafa;
}

div.project-grid
{
	border-bottom: 1px solid #dadada;
	padding: 50px 0;
}

div.project-grid::before
{
	content: ' ';
	display: table;
}


div.project-grid::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.project-grid > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	
}

div.project-grid > div:nth-child(1)
{
	width: 55%;

}

div.project-grid > div:nth-child(2)
{
	width: 25%;
	margin-left: 15%;
}

/*== Skills Start ==*/

div.skills
{
	background: linear-gradient(to top left, #f38c00, #f83600);

}
div.skills *
{
	color: #fff;
}

div.skills ul
{
	list-style-type: circle;
}

div.skills-grid::before
{
	content: ' ';
	display: table;
}

div.skills-grid::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.skills-grid > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

div.skills-grid > div:nth-child(1)
{
	width: 45%;
	margin-left: 5%;
}

div.skills-grid > div:nth-child(2)
{
	width: 45%;
	margin-left: 5%;

}
/*== Footer Start ==*/

div.footer
{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #202e3c;
}

div.footer-grid a
{
	text-decoration: none;
	color: #DADADA;
}

div.footer-grid p
{
	font-size: 0.8em;
}

div.footer-grid	
{
	width: 55%;
}

div.footer-grid::before
{
	content: ' ';
	display: table;
}

div.footer-grid::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.footer-grid > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.footer-grid > div:nth-child(1)
{
	width: 50%;
	margin-left: 0%;
}

div.footer-grid > div:nth-child(2)
{
	width: 50%;
	margin-left: 0%;
	border-left: 1px solid #d3d3d3;
	padding-left: 20px;
}

div.footer p
{
	color: #fff;
}

@media only screen and (max-width: 1279px)
{


	div.footer-grid > div:nth-child(1)
	{
		width: 50%;
		margin-left: 0%;
	}

	div.footer-grid > div:nth-child(2)
	{
		width: 50%;
		margin-left: 0%;
	}

}

@media only screen and (max-width: 767px)
{
	.layout
	{
		width: 95%;
	}

	a.appt-btn
	{
		width: 60%;
	}


	img.logo
	{
		max-width: 95%;
	}

	div.project-grid > div
	{
		margin-top: 2%;
	}

	div.project-grid > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0;
	}

	div.project-grid > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0;
	}

	div.project-grid > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0;
	}

	div.about-grid > div
	{
		text-align: center;
	}

	div.about-grid > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
		margin-bottom: 10%;
		margin-top: 5%;
	}

	div.about-grid > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
		margin-bottom: 10%;
		text-align: center;
	}

	div.footer-grid
	{
		text-align: center;
	}

	div.footer-grid > div:nth-child(1)
	{
		width: 100%;

	}

	div.footer-grid > div:nth-child(2)
	{
		width: 100%;
		border: none;
	}
}